@keyframes slidein {
    from {
        opacity: 0;
    }

    to {
        opacity: 100%;
    }
}

section {
    display: none;
}

.active {
    display: initial;
}

section.active {
    animation-duration: 1s;
    animation-name: slidein;
}

@media (min-width: 993px) {
    .sidenav-trigger {
        display: none;
    }
}

